{
   "semi": true,
   "trailingComma": "all",
   "singleQuote": true,
   "printWidth": 80,
   "tabWidth": 3,
   "arrowParens": "avoid",
   "bracketSpacing": true,
   "endOfLine": "lf",
   "htmlWhitespaceSensitivity": "strict",
   "bracketSameLine": false,
   "proseWrap": "always",
   "quoteProps": "as-needed",
   "requirePragma": false,
   "insertPragma": false,
   "useTabs": false,

   "overrides": [
      {
         "files": "*.json",
         "options": {
            "tabWidth": 2
         }
      },
      {
         "files": "*.html",
         "options": {
            "tabWidth": 3
         }
      },
      {
         "files": ["*.scss", "*.css"],
         "options": {
            "tabWidth": 4
         }
      }
   ]
}
