@mixin desktop {
    $md: 600px;
    @media screen and (min-width: $md) {
        @content;
    }
}

:host {
    display: block;
    padding: 1rem;
}

@include desktop() {
    .pay-button {
        max-width: 500px;
    }
}
