<form
   id="login-form"
   class="p-fluid formgrid grid"
   [formGroup]="loginForm"
   (ngSubmit)="onSubmit()"
>
   <div class="field col-12 mb-5">
      <span class="p-float-label">
         <input id="email" type="email" pInputText formControlName="email" />
         <label for="email">Email</label>
      </span>
   </div>
   <div class="field col-12 mb-5">
      <span class="p-float-label">
         <input
            id="password"
            type="password"
            pInputText
            formControlName="password"
         />
         <label for="password">Jelszó</label>
      </span>
   </div>
   <p-button
      id="login-btn"
      class="col-12 mb-3"
      type="submit"
      label="Bejelentkezés"
   ></p-button>
   <p-divider class="col-12" layout="horizontal" align="center">vagy</p-divider>
   <div
      id="google-sign-in-btn"
      class="col-12 flex justify-content-center mb-3"
   ></div>

   <div class="col-12">
      <button
         id="register-btn"
         class="p-button-secondary"
         type="button"
         (click)="onRegister()"
         label="Regisztráció"
         pButton
         pRipple
      ></button>
   </div>
</form>
