<div class="contact-list">
   <div
      *ngFor="let partner of partners"
      (click)="selectUser(partner)"
      [ngClass]="partner.id === selectedUserId ? 'active' : ''"
   >
      <img class="avatar-mini" [src]="partner.picture" />
      {{ partner.name }}
      <p-badge
         *ngIf="partner.unseenMessages"
         [value]="'' + partner.unseenMessages"
         severity="danger"
      ></p-badge>
   </div>
</div>

<div #messagePanel class="messages">
   <ng-container *ngIf="selectedUserId !== undefined">
      <div class="messages__container">
         <div *ngFor="let message of messages">
            <pre [ngClass]="message.self ? 'message--self' : 'message'">{{
               message.text
            }}</pre>
         </div>
      </div>
      <div class="messages__control-panel">
         <textarea
            (keydown.control.enter)="send(text.value, text)"
            #text
            pInputTextarea
            rows="2"
         ></textarea>
         <button
            (click)="send(text.value, text)"
            pButton
            class="p-button-rounded"
            icon="pi pi-send"
         ></button>
      </div>
   </ng-container>
</div>
