<div class="contact-list">
   <div><i class="pi pi-user"></i> John Doe</div>
   <div><i class="pi pi-user"></i> John Doe</div>
   <div><i class="pi pi-user"></i> John Doe</div>
   <div><i class="pi pi-user"></i> John Doe</div>
   <div><i class="pi pi-user"></i> John Doe</div>
   <div><i class="pi pi-user"></i> John Doe</div>
   <div><i class="pi pi-user"></i> John Doe</div>
   <div><i class="pi pi-user"></i> John Doe</div>
   <div><i class="pi pi-user"></i> John Doe</div>
   <div><i class="pi pi-user"></i> John Doe</div>
   <div><i class="pi pi-user"></i> John Doe</div>
   <div><i class="pi pi-user"></i> John Doe</div>
   <div><i class="pi pi-user"></i> John Doe</div>
   <div><i class="pi pi-user"></i> John Doe</div>
   <div><i class="pi pi-user"></i> John Doe</div>
   <div><i class="pi pi-user"></i> John Doe</div>
   <div><i class="pi pi-user"></i> John Doe</div>
   <div><i class="pi pi-user"></i> John Doe</div>
   <div><i class="pi pi-user"></i> John Doe</div>
   <div><i class="pi pi-user"></i> John Doe</div>
</div>

<div class="message-panel">
   <div>Hello, how are u?</div>
   <div class="message-self">I'm fine, and u?</div>
   <div>Thanks, im okay</div>
</div>
