<ng-container *ngIf="products && category; else loading">
   <div [formGroup]="productFilterForm">
      <h2>Szűrők</h2>
      <div class="p-fluid formgrid grid form-big-skip">
         <div
            class="field col-12 field-title"
            style="margin-bottom: 2rem !important"
         >
            Termék tulajdonságok
         </div>
         <div class="field col-12 md:col-6">
            <div class="p-inputgroup">
               <span class="p-inputgroup-addon">
                  <p-checkbox
                     formControlName="isAuction"
                     [binary]="true"
                     inputId="isAuction"
                     formControlName="isAuction"
                  ></p-checkbox>
                  <label for="isAuction" class="ml-2">Aukció</label>
               </span>
               <span class="p-float-label">
                  <p-inputNumber
                     formControlName="price"
                     itemid="price"
                     [min]="0"
                  ></p-inputNumber>
                  <label for="price">{{
                     f['isAuction'].value ? 'Minimum kezdő ár' : 'Minimum ár'
                  }}</label>
                  <span class="p-inputgroup-addon">Ft</span>
               </span>
            </div>
         </div>
         <div class="field col-12 md:col-6">
            <div class="p-inputgroup">
               <span class="p-float-label">
                  <p-inputNumber
                     formControlName="priceUntil"
                     itemid="priceUntil"
                     [min]="0"
                  ></p-inputNumber>
                  <label for="priceUntil">Maximum ár</label>
                  <span class="p-inputgroup-addon">Ft</span>
               </span>
            </div>
         </div>
         <div class="field col-12 md:col-6">
            <span class="p-float-label">
               <p-calendar
                  formControlName="startedFrom"
                  dateFormat="dd/mm/yy"
                  inputId="startedFrom"
               ></p-calendar>
               <label for="startedFrom">Ettől a naptól hírdették meg</label>
            </span>
         </div>
         <div class="field col-12 md:col-6">
            <span class="p-float-label">
               <p-calendar
                  formControlName="expireUntil"
                  dateFormat="dd/mm/yy"
                  inputId="expireUntil"
               ></p-calendar>
               <label for="expireUntil">Lejár a következő napig</label>
            </span>
         </div>

         <div
            class="field col-12 field-title"
            style="margin-bottom: 0 !important"
         >
            Kategória tulajdonságok
         </div>
         <div *ngIf="properties" class="field col-12 properties-container">
            <ng-container
               *ngFor="let property of properties; index as i"
               formGroupName="properties"
            >
               <div class="property-panel">
                  <h5>{{ property[0] }}</h5>
                  <div
                     *ngIf="property[1].multi; else radioButtons"
                     class="checkbox-vertical"
                  >
                     <p-checkbox
                        *ngFor="let value of property[1].values"
                        [label]="value"
                        [value]="value"
                        [formControl]="f['properties'].controls[property[0]]"
                     ></p-checkbox>
                  </div>
                  <ng-template #radioButtons>
                     <div class="radiobuttons-vertical">
                        <p-radioButton
                           *ngFor="let value of property[1].values"
                           [label]="value"
                           [value]="value"
                           [formControlName]="property[0]"
                        ></p-radioButton>
                     </div>
                  </ng-template>
               </div>
            </ng-container>
         </div>
         <ng-container *ngIf="user; else anonymus">
            <div class="field col-12 md:col-4">
               <button
                  [disabled]="!productFilterForm.valid"
                  pButton
                  label="Szűrés"
                  (click)="submitFilter()"
               ></button>
            </div>
            <div class="field col-12 md:col-4">
               <button
                  class="p-button-danger"
                  pButton
                  label="Szűrő visszaállítása"
                  (click)="resetFilter()"
               ></button>
            </div>
            <div class="field col-12 md:col-4">
               <button
                  class="p-button-success"
                  pButton
                  label="Kategória megfigyelése"
                  (click)="saveFilter()"
               ></button>
            </div>
         </ng-container>
         <ng-template #anonymus>
            <div class="field col-12 md:col-6">
               <button
                  [disabled]="!productFilterForm.valid"
                  pButton
                  label="Szűrés"
                  (click)="submitFilter()"
               ></button>
            </div>
            <div class="field col-12 md:col-6">
               <button
                  class="p-button-danger"
                  pButton
                  label="Szűrő visszaállítása"
                  (click)="resetFilter()"
               ></button>
            </div>
         </ng-template>
      </div>
   </div>

   <app-product-item
      *ngFor="let product of products"
      [product]="product"
   ></app-product-item>
</ng-container>

<ng-template #loading> <div>Loading...</div> </ng-template>
