#register-form {
    position: relative;
    top: 15vh;
    left: 25vw;
    width: 50vw;
    @media screen and (max-width: 768px) {
        left: 10vw;
        width: 80vw;
    }
    .col {
        padding: 0;
    }
}

#back-to-login-btn {
    text-align: right;
}

::ng-deep .p-button-label {
    text-align: center;
}
