#register-form {
    position: relative;
    left: 25vw;
    width: 50vw;
    top: 15vh;
    .col {
        padding: 0;
    }
}

#back-to-login-btn {
    text-align: right;
}

::ng-deep .p-button-label {
    text-align: center;
}
