<div>
   <img [src]="product.pictures[0]" alt="Fotó a termékről" />
</div>
<div>
   <div class="details">
      <div class="title" (click)="navigateToProduct(product.id)"
         >{{ product.name }}
         <ng-container *ngIf="product.isAuction">
            &mdash; aukció</ng-container
         ></div
      >
      <div class="condition"
         >Állapot: {{ displayCondition[product.condition] }}
      </div>
      <div class="price">{{ product.price }}&nbsp;Ft</div>
      <div
         class="seller"
         style="cursor: pointer"
         (click)="navigateToProfile(product.seller.id)"
         >Eladó: {{ product.seller.name }}
      </div>
      <div class="expiration" *ngIf="product.expiration">
         Lejár ekkor &mdash; {{ product.expiration }}
      </div>
   </div>
</div>
<div *ngIf="showRemove" class="remove-from-basket">
   <button
      pButton
      type="button"
      label="Eltávolítás a kosárból"
      class="p-button-danger"
      (click)="removeFromBasket(product.id)"
   ></button>
</div>
<div *ngIf="showDelete" class="remove-from-basket">
   <button
      pButton
      type="button"
      label="Termék törlése"
      class="p-button-danger"
      (click)="deleteProduct(product.id)"
   ></button>
</div>
<div *ngIf="showRating" class="remove-from-basket">
   <button
      pButton
      type="button"
      [label]="ratingBtnLabel || 'Vevő értékelése'"
      (click)="rating.emit()"
   ></button>
</div>
<div *ngIf="showBuy" class="remove-from-basket">
   <button
      pButton
      type="button"
      label="Kifizetem"
      (click)="buy.emit()"
   ></button>
</div>
